 <div id="requisitos">
   <table class="table table-bordered">
     <thead>
       <tr>
         <td>Nombre Requisito</td>
         <td>Responsable</td>
         <td>Observación</td> 
         <td>OK</td>
         <td>cargar Archivo</td>
       </tr>
     </thead>
     <tbody id="inicio" ng-repeat="elemento in requeridos">
         <tr ng-repeat="requisitos in elemento.requisitos"
          ng-init="estadoActual[requisitos] = estado[0]; observacion[requisitos] = ''; archivos[requisitos] = []">
           <th>{{requisitos}} </th>
           <th> N/A </th>
           <th  ng-click="agregarComentario(requisitos, elemento)">
            <textarea cols="10" rows="10" disabled ng-model="observacion[requisitos]"></textarea>
           </th>
           <th ng-class="estadoActual[requisitos].color"  ng-click="cambiarEstado(requisitos)">
            <label> {{estadoActual[requisitos].estado}}  </label> 
           </th>
           <th ng-click="seleccionar(requisitos)">
             <label>
               <label ng-show="archivos[requisitos].length == 0">
                 cargar archivo
               </label>
               <label ng-hide="archivos[requisitos].length == 0"> 
                 {{archivos[requisitos].length}}
               </label> 
             </label>
<!--<input id="archivo" class="fileInput" selection-model="requisitos" type="file" style="display: none">-->
             <input style="display: none" id="{{requisitos}}" class="fileInput" selection-model="file" type="file">
           </th>
         </tr>
     </tbody>
   </table>
 </div>